.ec-size .ec-store .ec-cart-next .ec-cart-next__step--order-confirmation:after 
		{
			content: "You will only have to pay for your Home Test Kit or your At Home Concierge Test appointment if you (1) do not return your collected samples to the lab within [insert number of days] or (2) miss the At home test appointment either by not confirming the appointment when we call within 24 hours the day it is scheduled or failing to make yourself available at the time of your appointment. HealthyMD will not charge your credit card until that time. The charge for an unreturned test kit is _____________ and the charge for a missed phlebotomy appointment is ______________. All transactions are subject to the HealthyMD terms of service and privacy policy."; 
			display: block; 
			padding-top: 5px; 
			color: #9d5a43;
		}

		.ec-size .ec-store .ec-cart__next .ec-cart-next__step--order-confirmation .ec-cart-next__text:after 
		{
			content: "Will I have to pay for my test?"; 
			display: block; 
			color: #333; 
			padding-top: 10px; 
			font-weight: bold;
		}
